html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(black,white);
  background-attachment: fixed;
}

head{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* canvas {
  display: block;
} */

body{
  color: blue; 
}
p{
  color: hotpink;
}
img{
  border-style: groove;
  border-color: black;
}
